@model AddTagViewModel

<form asp-action="AddTag" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tag Name</label>
        <input asp-for="Name" placeholder="Name" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-success" />
        <a asp-area="" asp-controller="Admin" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>
