@model List<Tag>


@foreach (var tag in Model)
{
    <div class="card">
        <div class="card-header">
            Category
        </div>
        <div class="card-body">
            <h5 class="card-title">@tag.Name</h5>
            <p class="card-text">@tag.CreatedTime</p>
            <a asp-action="DeleteTag" asp-route-id="@tag.Id" class="btn btn-primary">Delete</a>
            
        </div>
    </div>
}
<div class="mb-3">
    <a asp-area="" asp-controller="Admin" asp-action="Index" class="btn btn-outline-secondary">Back</a>
</div>
